  <nav>
    <strong>FullStack Journey</strong>
    <div style="float:right;">
      <a href="/fullstack-learning-journey/index.html">HOME</a>
      <a href="/fullstack-learning-journey/html/index.html">HTML</a>
      <a href="/fullstack-learning-journey/css/index.html">CSS</a>
      <a href="/fullstack-learning-journey/javascript/index.html">JAVASCRIPT</a>
      <a href="/fullstack-learning-journey/node/index.html">NODE.JS</a>
      <a href="/fullstack-learning-journey/express/index.html">EXPRESS</a> 
      <a href="/fullstack-learning-journey/sql/index.html">SQL</a>
      <a href="/fullstack-learning-journey/react/index.html">REACT</a>
    </div>
  </nav>

