  <nav>
    <strong>FullStack Journey</strong>
    <div style="float:right;">
      <a href="/fullstack-learning-journey/index.html">HOME</a>
      <a href="/fullstack-learning-journey/html/index.html">HTML</a>
      <a href="/fullstack-learning-journey/css/index.html">CSS</a>
      <a href="/fullstack-learning-journey/javascript/index.html">JavaScript</a>
      <a href="/fullstack-learning-journey/Backend/index.html">BACKEND</a>
      <a href="/fullstack-learning-journey/Database/index.html">DATABASE</a>
      <a href="/fullstack-learning-journey/Frontend/index.html">FRONTEND</a>
    </div>
  </nav>

